<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" /> 
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
    
  <connectionStrings>
    <add name="MultiShop" connectionString="Server=DRAGON-PC\SQLEXPRESS;Database=MultiShop; Integrated Security=True; MultipleActiveResultSets=True" providerName="System.Data.sqlClient" />
  </connectionStrings>
  <!-- PayPal SDK settings -->  
<paypal>  
    <settings>  
        <add name="mode" value="sandbox" />  
        <add name="connectionTimeout" value="360000" />  
        <add name="requestRetries" value="1" />  
        <add name="clientId" value="AZREqsPGQQ3JhN60ssBPK28QpJMFJVnOcXOEf0ZuCYcC5KYOuQ28OssGPadnsBsbDbvWD8gfq5On2AYq" />  
        <add name="clientSecret" value="EJ5Afj-pIkpSAzQPCjbd4zlAuq1KJBs_2byuOiVatUiVQ3IXZWUV2V1ctR8_nU5sb9E-pQEKh-dJex44" /> 
    </settings>  
</paypal>  
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="rest-api.log"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] %message%newline"/>
      </layout>
    </appender>
  </log4net>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <add key="VerifyApiKey" value="E09FjK58eXC4oLAovzH9VBxFGzcAlobB" />
     <add key="SMSAccountIdentification" value="AC6b7ce675da6442ccf4f3fe9bfb74a78d" />
      <add key="SMSAccountPassword" value="cbba69c2cb42808d0223f6a4682181e2" />
      <add key="SMSAccountFrom" value="+17247166366" />
    <add key="MerchantId" value="61669"></add> <add key="MerchantPassword" value="3800ab287943dfd44f6948f6cb9a0191"></add> <add key="MerchantEmail" value="nhuydm@gmail.com"></add>
  </appSettings>
  <system.web>
    <authentication mode="Windows" />
    <compilation debug="true" targetFramework="4.5" />
    <machineKey validationKey="26358986D6EAE1E1533ED675904F37D45C1E4FC960904DD41521732FD7C52685CEE182A3C98FDD8DDC49CD941DF8167346EC25CE224F176F6F2492BA9335C965" decryptionKey="8F5971EE7804EBC7E65651E0E0FF44A675EA85C150B0F2B524BF1172094B8164" validation="SHA1" decryption="AES" />
    <httpRuntime targetFramework="4.5" />
        <identity impersonate="false" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
   
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <remove name="ExtensionlessUrl-Integrated-4.0" />        
      <remove name=" ExtensionlessUrl-ISAPI-4.0_32bit " />
    </handlers>
  </system.webServer>
  <runtime> 
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>