<div class="nn-block-cart">
    <div class="nn-top-cart-title">
        <span id="nn-cart-image" class="glyphicon glyphicon-shopping-cart"></span>
        <a href="/gio-hang">
            <span id="nn-cart-count">@ShoppingCart.Cart.Count</span> sản phẩm<i class="caret"></i>
            <br /><span class="price" id="nn-cart-total"><strong>@ShoppingCart.Cart.Total</strong></span><span> Đ</span>
        </a>
    </div>
    <div class="nn-top-cart-content" style="overflow: hidden; display: none;">
        <p class="empty">Không có sản phẩm nào trong giỏ hàng.</p>
        <div class="top-subtotal">Tổng tiền: <span class="price">0.00 VNĐ</span></div>
    </div>
</div>