<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root" style="padding-bottom: 100px"></div>
<script>
	window.fbAsyncInit = function () {
		FB.init({
			xfbml: true,
			version: 'v5.0'
		});
	};

	(function (d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat" style="padding-bottom: 100px"
	 attribution=setup_tool
	 page_id="109622433820245"
	 logged_in_greeting="Multishop xin chào!"
	 logged_out_greeting="Multishop xin chào!">
</div>

<div class="container">
	<div class="footer-static">
		<div class="row">
			<div class="f-col f-col-3 col-sm-6 col-md-4 col-sms-6 col-smb-12">
				<div class="img-logo"><a href="#"><img src="http://www.plazathemes.com/demo/ma_enzo/media/wysiwyg/logo.png" alt="logo"></a></div>
				<div class="footer-static-content ">
					<h3>
						Multishop Online
					</h3>
					<p>Multishop là nơi bạn có thể thỏa sức mua sắm với đa dạng các mặt hàng từ các thương hiệu trong và ngoài nước nhưng giá cả vô cùng hợp túi tiền. Hãy trải nghiệm cơ hội mua sắm có một không hai cùng với chúng tôi!</p>
					<iframe id="share" src="" width="90" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
				</div>
			</div>
			<div class="f-col f-col-4 col-sm-6 col-md-2 col-sms-6 col-smb-12">
				<div class="footer-static-title">
					<h3>Thông tin</h3>
				</div>
				<div class="footer-static-content">
					<ul>
						<li class="first"><a href="http://onlineshop.somee.com/lien-he">Liên hệ</a></li>
						<li class="last"><a href="http://onlineshop.somee.com/thong-tin-ve-multishop">Giới thiệu</a></li>
					</ul>
				</div>
			</div>
			<div class="f-col f-col-5 col-sm-6 col-md-2 col-sms-6 col-smb-12">
				<div class="footer-static-title">
					<h3>Hỗ trợ</h3>
				</div>
				<div class="footer-static-content ">
					<ul>
						<li class="first"><a href="http://onlineshop.somee.com/sitemap.xml">Sitemap</a></li>
						<li><a href="http://onlineshop.somee.com/thong-tin-ve-multishop">Google map</a></li>
						<li><a href="http://onlineshop.somee.com/gio-hang">Giỏ hàng</a></li>
						<li class="last"><a href="http://onlineshop.somee.com/thanh-toan">Thanh toán</a></li>
					</ul>
				</div>
			</div>
			<div class="f-col f-col-6 col-sm-6 col-md-2 col-sms-6 col-smb-12">
				<div class="footer-static-title">
					<h3>Tài khoản</h3>
				</div>
				<div class="footer-static-content">
					<ul>
						<li class="first"><a href="http://onlineshop.somee.com/Account/Manage">Tài khoản của tôi</a></li>
						<li><a href="http://onlineshop.somee.com/Account/Login">Đăng nhập</a></li>
						<li class="last"><a href="http://onlineshop.somee.com/dang-ky">Đăng ký</a></li>
					</ul>
				</div>
			</div>
			<div class="f-col f-col-7 col-sm-6 col-md-2 col-sms-6 col-smb-12">
				<div class="footer-static-content">
					<!-- Begin Mailchimp Signup Form -->
					<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
					<style type="text/css">
											  #mc_embed_signup {
												  background: #fff;
												  clear: left;
												  font: 14px Helvetica,Arial,sans-serif;
											  }
											  /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
						We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
					</style>
					<div id="mc_embed_signup">
						<form action="https://FreeASPHost.us5.list-manage.com/subscribe/post?u=00e4d74d352fbe95ce3b996dc&amp;id=ebd6d80b7e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
							<div id="mc_embed_signup_scroll">
								<h3>Đăng ký nhận tin mới</h3>
								<div class="mc-field-group">
									<label for="mce-EMAIL">
										Email  <span class="asterisk">*</span>
									</label>
									<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Nhập email">
								</div>
								<div id="mce-responses" class="clear">
									<div class="response" id="mce-error-response" style="display:none"></div>
									<div class="response" id="mce-success-response" style="display:none"></div>
								</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
								<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_00e4d74d352fbe95ce3b996dc_ebd6d80b7e" tabindex="-1" value=""></div>
								<div class="clear"><input type="submit" value="Đăng ký" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
							</div>
						</form>
					</div>
					<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
					<script type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'ADDRESS'; ftypes[3] = 'address'; fnames[4] = 'PHONE'; ftypes[4] = 'phone'; fnames[5] = 'BIRTHDAY'; ftypes[5] = 'birthday'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
					<!--End mc_embed_signup-->
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Subiz -->
<script>
	(function (s, u, b, i, z) {
		u[i] = u[i] || function () {
			u[i].t = +new Date();
			(u[i].q = u[i].q || []).push(arguments);
		};
		z = s.createElement('script');
		var zz = s.getElementsByTagName('script')[0];
		z.async = 1; z.src = b; z.id = 'subiz-script';
		zz.parentNode.insertBefore(z, zz);
	})(document, window, 'https://widgetv4.subiz.com/static/js/app.js', 'subiz');
	subiz('setAccount', 'acqmebjsxywvavzewfqf');
</script>
<!-- End Subiz -->
<!-- Share FB -->
<script type="text/javascript">
	function shareFunction() {
		var x = document.URL;
		document.getElementById("share").src = 'https://www.facebook.com/plugins/share_button.php?href=' + x + '&layout=button_count&size=large&mobile_iframe=true&width=83&height=28&appId';

	}
</script>