
<ul class="nav navbar-nav">

	<li><a href="/thong-tin-ve-multishop">Giới thiệu</a></li>
	<li><a href="/lien-he">Liên hệ</a></li>
	<li><a href="/Home">Sản phẩm</a></li>

	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			@(Request.IsAuthenticated ? User.Identity.Name : "Tài khoản") <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			@if (!Request.IsAuthenticated)
			{
				<li><a href="/Account/Login">Đăng nhập</a></li>
				<li><a href="/Account/Forget">Quên mật khẩu</a></li>
				<li><a href="/dang-ky">Đăng ký thành viên</a></li>
			}
			else if (User.Identity.Name != "Admin")
			{
				<li><a href="/Account/LogOff">Đăng xuất</a></li>
				<li><a href="/Account/Reset">Đổi mật khẩu</a></li>
				<li><a href="/Account/Manage">Cập nhật hồ sơ</a></li>
				<li class="divider"></li>
				<li><a href="/Order/List">Đơn hàng</a></li>
			}
			else if (User.Identity.Name == "Admin")
			{
				<li><a href="/Account/LogOff">Đăng xuất</a></li>
				<li><a href="/Account/Reset">Đổi mật khẩu</a></li>
				<li class="divider"></li>
				<li><a href="/Admin/Master">Trang admin</a></li>
			}
		</ul>
	</li>
</ul>