@{
    ViewBag.Title = "Giới thiệu";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
	<ul>
		Với mục tiêu tạo ra những trải nghiệm mua sắm trực tuyến tuyệt vời, Multishop luôn nỗ lực không ngừng nhằm nâng cao chất lượng dịch vụ. Khi mua hàng qua mạng tại Multishop khách hàng sẽ được hưởng các tiện ích như sau: 
		<li>Dịch vụ chăm sóc khách hàng tận tình trước-trong-sau khi mua hàng, xuyên suốt 7 ngày/tuần, từ 8:00 đến 21:00 </li>
		<li>Mức giá cạnh tranh: hơn 90% sản phẩm được giảm giá từ 10% trở lên</li>
		<li>Giao hàng miễn phí (đối với đơn hàng từ 150.000đ trong phạm vi TP.HCM và từ 250.000đ đối với đơn hàng giao đến các tỉnh thành khác thuộc Việt Nam)</li>
		<li>Uy tín trong giao dịch - Dẫn đầu cuộc bình chọn website thương mại điện tử được yêu thích nhất</li>
	</ul>
</p>
