@{
    ViewBag.Title = "Liên hệ";
}
<h3>@ViewBag.Message</h3>

<p>
	<ul>Quý khách có nhu cầu liên lạc, trao đổi hoặc đóng góp ý kiến, vui lòng tham khảo các thông tin sau: 

	<li>Liên lạc qua điện thoại: 1900 6035</li>
	<li>Liên lạc qua email: multishop@gmail.com</li>
	<li>Fanpage của Multishop: <a href="http://facebook.com/multishop2443" target="_blank">http://facebook.com/multishop2443 </a></li>
	<li>Đối tác có nhu cầu hợp tác quảng cáo hoặc kinh doanh: marketing@multishop.vn </li>
	Địa chỉ nhận hàng đổi/trả/bảo hành: Trung tâm xử lý đơn hàng MULTISHOP - 280 An Dương Vương, P.4, Q.5, TP. Hồ Chí Minh (Tham khảo hướng dẫn đổi, trả, bảo hành hoặc liên hệ 1900-6035 để được hướng dẫn trước khi gửi sản phẩm về Multishop)

</ul>
</p>

<address>
	<b>Thông tin về công ty</b><br />
	Công ty Cổ Phần Multishop<br />
	Địa chỉ đăng ký kinh doanh: 280 An Dương Vương, P.4, Q.5, TPHCM, Việt Nam
	<br />
	<b>Văn phòng Multishop</b>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.655819588474!2d106.68040551480068!3d10.760986792332014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1b8e6575c3%3A0x48d253bde1931e59!2zxJDhuqFpIGjhu41jIFPGsCBQaOG6oW0!5e0!3m2!1svi!2s!4v1572768545867!5m2!1svi!2s" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</address>